.side-nav {
  display: flex;
  flex-direction: column;
  width: 72px;
  height: 1024px;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0px 4px 23px #0000000d;
}

.frame {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
  margin-left: -12px;
  margin-right: -12px;
}

.div-wrapper {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  overflow: hidden;
}

.ellipse {
  position: relative;
  width: 32px;
  height: 32px;
  top: 8px;
  left: 8px;
  background-color: #d9d9d9;
  border-radius: 16px;
}

.div {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.img {
  position: relative;
  width: 48px;
  height: 48px;
}

.frame-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
  margin-left: -12px;
  margin-right: -12px;
}

.frame-3 {
  position: relative;
  width: 24px;
  height: 24px;
  top: 12px;
  left: 12px;
  background-color: #d7e5fd;
  border-radius: 100px;
  overflow: hidden;
}

.text-wrapper {
  position: absolute;
  height: 15px;
  top: 4px;
  left: 5px;
  font-weight: 600;
  color: #b1cdfd;
  font-size: 10px;
  font-family: "Poppins", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}
