.frame-8 {
  display: flex;
  flex-direction: column;
  width: 935px;
  align-items: flex-start;
  gap: 4px;
  padding: 8px 16px 0px;
  position: relative;
  background-color: #ffffff;
  border-radius: 16px;
}

.frame-9 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame-10 {
  display: inline-flex;
  align-items: center;
  gap: 32px;
  padding: 16px 0px;
  position: relative;
  flex: 0 0 auto;
}

.checkbox-active {
  position: relative;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
}

.plate {
  height: 16px;
  border-radius: 2px;
  border: 1px solid;
  border-color: #8391a6;
}

.text-wrapper-5 {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  white-space: nowrap;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  color: #1d4ed8;
  letter-spacing: 0;
}

.candidate-status-bar {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.div-3 {
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #1d4ed8;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.text-wrapper-7 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #f3f3f4;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.frame-11 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 1px 6px;
  position: relative;
  flex: 0 0 auto;
  background-color: #f7f8fd;
  border-radius: 40px;
}

.text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #21205b;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.line-2 {
  align-self: stretch;
  width: 100%;
  height: 1px;
  margin-left: -0.5px;
  position: relative;
  object-fit: cover;
}

.application-program {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.candidate-search {
  display: flex;
  align-items: center;
  gap: 135px;
  padding: 16px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 16px;
}

.frame-12 {
  display: flex;
  width: 538px;
  align-items: center;
  gap: 24px;
  position: relative;
}

.frame-13 {
  position: relative;
  width: 56px;
  height: 56px;
  background-color: #ecf3ff;
  border-radius: 100px;
  overflow: hidden;
}

.text-wrapper-9 {
  position: absolute;
  height: 30px;
  top: 12px;
  left: 14px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #d0e1ff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.frame-14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.text-wrapper-10 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper-11 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.p {
  position: relative;
  align-self: stretch;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper-12 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #1d4ed8;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.placement-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 2px 10px;
  position: relative;
  flex: 0 0 auto;
  background-color: #f3f9fb;
  border-radius: 16px;
}

.text-wrapper-13 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-weight: 500;
  color: #036f91;
  font-size: 8px;
  font-family: "Poppins", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.candidate-search-2 {
  height: 157px;
  gap: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  align-self: stretch;
}

.candidate-search-3 {
  justify-content: space-between;
  padding: 16px;
  flex: 1;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 16px;
  display: flex;
  align-items: center;
  position: relative;
  align-self: stretch;
}

.frame-15 {
  display: flex;
  width: 538px;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
}

.frame-16 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.frame-17 {
  display: inline-flex;
  align-items: flex-end;
  gap: 4px;
  padding: 4px 8px;
  position: relative;
  flex: 0 0 auto;
  background-color: #f6f8fc;
  border-radius: 16px;
}

.img-2 {
  position: relative;
  width: 14px;
  height: 14px;
}

.text-wrapper-14 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #305dc6;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.frame-18 {
  display: inline-flex;
  align-items: flex-end;
  gap: 8px;
  padding: 4px 16px;
  position: relative;
  flex: 0 0 auto;
  background-color: #e3eaff;
  border-radius: 16px;
}

.text-wrapper-15 {
  font-weight: 400;
  font-size: 10px;
  line-height: normal;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  color: #1d4ed8;
  letter-spacing: 0;
}
